<!DOCTYPE html>
<html lang="pt-BR">

<%- include('../partials/head.ejs', {titulo: titulo}) %>

<body>

  <%- include('../partials/nav.ejs') %>

  <main>
    <h1>Meu blog</h1>
    <div class="blogs content">
      <% if (blogs.length>0) { %>
      <% blogs.forEach(blog=> { %>
      <div class="blog">
        <a href="/blogs/<%=blog._id%>">
          <h2 class="titulo">
            <%=blog.title%>
          </h2>
          <p class="resumo">
            <%=blog.snippet%>
          </p>
        </a>
      </div>
      <% }) %>

      <% } else { %>
      <p>Você ainda não tem nenhum post.</p>
      <% } %>
    </div>
  </main>

  <%- include('../partials/footer.ejs') %>

</body>

</html>